.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .form {
        margin: 10px;
        padding: 30px 23px;
        width: 40%;
        background-color: rgba(255,255,255, 0.8);
        border-radius: 8px;
        text-align: center;

    }
}

@media only screen and (max-width: 580px) {
    .login-form .form {
        width: 80%;
    }
}
